{% extends "account/base.html" %}
{% load static %}
{% load account %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock title %}
{% block content %}
                <div class="auth-full-page-content d-flex p-sm-5 p-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100">
                            <div class="mb-4 mb-md-5 text-center">
                                <a href="{% url 'dashboard' %}" class="d-block auth-logo">
                                    <img src="{% static 'images/logo-sm.svg' %}" alt="" height="28"> <span class="logo-txt">Dason</span>
                                </a>
                            </div>
                            <div class="auth-content my-auto">
                                <div class="text-center">
                                    <h5 class="mb-0">Change Password</h5>
                                </div>
                                <form class="mt-4 password_set" method="POST" action="{% url 'account_change_password' %}"  enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% for message in messages %}
                                    <div class="alert {{ message.tags }} mb-4" role="alert">
                                        <strong>{{ message }}</strong>
                                    </div>
                                    {% endfor %} 
                                    {% if field.help_text %}
                                        <div class="alert alert-danger mb-4" role="alert">
                                                <strong>{{ field.help_text }}</strong>
                                            </div>
                                    {% endif %}
                                    
                                    {% for error in errors  %}
                                        <div class="alert alert-danger mb-4" role="alert">
                                                <strong>{{ error }}</strong>
                                            </div>
                                    {% endfor %}
                                    {{ form|crispy }}
                                    <div class="mb-3 mt-4">
                                        <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Change Password</button>
                                    </div>
                                </form>

                                <div class="mt-5 text-center">
                                    <p class="text-muted mb-0">back to home ?  <a href="{% url 'dashboard' %}"
                                            class="text-primary fw-semibold"> Home </a> </p>
                                </div>
                            </div>
                            <div class="mt-4 mt-md-5 text-center">
                                <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Dason   . Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end auth full page content -->
{% endblock content %}