{% extends "account/base.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock title %}
{% block content %}
                <div class="auth-full-page-content d-flex p-sm-5 p-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100">
                            <div class="mb-4 mb-md-5 text-center">
                                <a href="{% url 'dashboard' %}" class="d-block auth-logo">
                                    <img src="{% static 'images/logo-sm.svg' %}" alt="" height="28"> <span class="logo-txt">Dason</span>
                                </a>
                            </div>
                            <div class="auth-content my-auto">
                                <div class="text-center">
                                    <h5 class="mb-0">Register Account</h5>
                                    <p class="text-muted mt-2">Get your free Dason account now.</p>
                                </div>
                                <form class="needs-validation mt-4 pt-2" novalidate method="POST" action="{% url 'account_signup' %}" enctype="multipart/form-data">

                                    {% for message in messages %}
                                    <div class="alert {{ message.tags }} mb-4" role="alert">
                                        <strong>{{ message }}</strong>
                                    </div>
                                    {% endfor %} 
                                    {% if field.help_text %}
                                        <div class="alert alert-danger mb-4" role="alert">
                                                <strong>{{ field.help_text }}</strong>
                                            </div>
                                    {% endif %}
                                    
                                    {% for error in errors  %}
                                        <div class="alert alert-danger mb-4" role="alert">
                                                <strong>{{ error }}</strong>
                                            </div>
                                    {% endfor %}
                                    
                                    {% csrf_token %}
                                    {{ form|crispy}}

                                    <div class="mb-4">
                                        <p class="mb-0">By registering you agree to the Dason <a href="#" class="text-primary">Terms of Use</a></p>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Register</button>
                                    </div>
                                </form>

                                <div class="mt-4 pt-2 text-center">
                                    <div class="signin-other-title">
                                        <h5 class="font-size-14 mb-3 text-muted fw-medium">- Sign up using -</h5>
                                    </div>

                                    <ul class="list-inline mb-0">
                                        {% comment %} <li class="list-inline-item">
                                            <a href="javascript:void()"
                                                class="social-list-item bg-primary text-white border-primary">
                                                <i class="mdi mdi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void()"
                                                class="social-list-item bg-info text-white border-info">
                                                <i class="mdi mdi-twitter"></i>
                                            </a>
                                        </li> {% endcomment %}
                                        <li class="list-inline-item">
                                            <a href="{% provider_login_url 'google' %}"
                                                class="social-list-item bg-danger text-white border-danger">
                                                <i class="mdi mdi-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="mt-5 text-center">
                                    <p class="text-muted mb-0">Already have an account ? <a href="{% url 'pages:pages.authentication.login' %}"
                                            class="text-primary fw-semibold"> Login </a> </p>
                                </div>
                            </div>
                            <div class="mt-4 mt-md-5 text-center">
                                <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Dason   . Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end auth full page content -->
{% endblock content %}


{% block extra_js %}
<!-- validation init -->
<script src="{% static 'js/pages/validation.init.js'%}"></script>
{% endblock extra_js %}
    