{% load static %}
{% block content %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h2 class="mb-sm-0 font-size-26">Today's Unit Trust Performance</h2>


                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">{{pageview}}</a></li>
                                <li class="breadcrumb-item active">{{title}}</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h4 class="card-title">🚀 Top Gainers</h4>
                                    <span class="card-subtitle text-muted">this
                                        month</span>
                                    <table class="table align-middle table-nowrap">
                                        <tbody>
                                            {% for fund in fund_list %}
                                            <tr class="no-border">
                                                <td>
                                                    <div>
                                                        <h5 class="font-size-13"><a href=""
                                                                class="text-dark">{{fund.company_link}} {{fund}}</a>
                                                        </h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-nowrap">
                                                        <span class="badge bg-soft-success text-success">+8%</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h4 class="card-title">🥹 Biggest Losers</h4>
                                    <span class="card-subtitle text-muted">this
                                        month</span>
                                    <table class="table align-middle table-nowrap">
                                        <tbody>
                                            {% for fund in fund_list %}
                                            <tr class="no-border">
                                                <td>
                                                    <div>
                                                        <h5 class="font-size-13"><a href=""
                                                                class="text-dark">{{fund.company_link}} {{fund}}</a>
                                                        </h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-nowrap">
                                                        <span class="badge bg-soft-danger text-danger">+8%</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col-->

                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h4 class="card-title">🔥 Hot Picks</h4>
                                    <span class="card-subtitle text-muted">this
                                        month</span>
                                    <table class="table align-middle table-nowrap">
                                        <tbody>
                                            {% for fund in fund_list %}
                                            <tr class="no-border">
                                                <td>
                                                    <div>
                                                        <h5 class="font-size-13"><a href=""
                                                                class="text-dark">{{fund.company_link}} {{fund}}</a>
                                                        </h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-nowrap">
                                                        <span class="badge bg-soft-success text-success">+8%</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div><!-- end row-->

            <div class="row">
                <div class="col-xl-12">
                    <!-- card -->
                    <div class="card">
                        <!-- card body -->

                        <div class="card-body px-0 pt-2">
                            <div class="table-responsive px-3" data-simplebar style="max-height: 395px;">
                                <table class="table align-middle table-nowrap">
                                    <tbody>
                                        <tr>

                                            <th style="width: 90px;">
                                                <p class="mb-1"><a href="" class="text-dark">#</a></p>
                                            </th>

                                            <th>
                                                <p class="mb-1"><a href="" class="text-dark ">Fund Name</a></p>
                                            </th>
                                            <th>
                                                <p class="mb-1"><a href="" class="text-dark">Price</a></p>
                                            </th>
                                            <th style="width: 50px;">
                                                <p class="mb-1 right-align"><a href="" class="text-dark">1m</a></p>
                                                </td>
                                            <th style="width: 50px;">
                                                <p class="mb-1 right-align"><a href="" class="text-dark">6m</a></p>
                                                </td>
                                            <th style="width: 50px;">
                                                <p class="mb-1 right-align"><a href="" class="text-dark">1y</a></p>
                                                </td>
                                            <th>
                                                <p class="mb-1 right-align"><a href="" class="text-dark">Market Cap</a>
                                                </p>
                                            </th>
                                            <th>
                                                <div class="text-end">
                                                    <p class="mb-1"><a href="" class="text-dark">Last Year</a></p>
                                                </div>
                                            </th>
                                        </tr>

                                        {% for fund in fund_list %}
                                        <tr>
                                            <td style="width: 90px;">
                                                <div class="logo-image-frame">
                                                    <img src="{% static 'images/funds/allan-gray.svg'%}"
                                                        class="img-fluid" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <h5 class="font-size-15 "><a class="text-dark"
                                                            href="">{{fund.company_link}} {{fund}}
                                                        </a></h5>

                                                </div>
                                            </td>
                                            <td>
                                                <span>R2459</span>
                                            </td>
                                            <td style="width: 50px;">
                                                <span class="badge-big text-success right-align">2.76%</span>
                                            </td>
                                            <td style="width: 50px;">
                                                <span class="badge-big text-success right-align">5.02%</span>
                                            </td>
                                            <td style="width: 50px;">
                                                <span class="badge-big text-success right-align">13.43%</span>
                                            </td>
                                            <td class=" right-align">
                                                <span>R939 000 000</span>
                                            </td>
                                            <td>
                                                <div class="text-end">
                                                    <div id="mini-chart2" data-colors='["#1c84ee", "#33c38e"]'
                                                        class="apex-charts"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

            </div><!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    {% block footer %}
    {% include 'partials/footer.html'%}
    {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}