{% load static %}
{% block content %}
{% load humanize %}
{% load fund_tags %}


<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h2 class="mb-sm-0 font-size-26">Today's Unit Trust Performance</h2>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">{{pageview}}</a></li>
                                <li class="breadcrumb-item active">{{title}}</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h4 class="card-title">🚀 Top Gainers</h4>
                                    <span class="card-subtitle text-muted">this
                                        month</span>
                                    <table class="table align-middle table-nowrap">
                                        <tbody>
                                            {% for fund in monthly_winners|slice:":3" %}
                                            <tr class="no-border">
                                                <td>
                                                    <div>
                                                        <h5 class="font-size-13"><a href=""
                                                                class="text-dark">{{fund}}</a>
                                                        </h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-nowrap">
                                                        <span
                                                            class="badge bg-soft-success text-success">{{fund.one_month}}%</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h4 class="card-title">🔥 The Winners</h4>
                                    <span class="card-subtitle text-muted">this
                                        year</span>
                                    <table class="table align-middle table-nowrap">
                                        <tbody>
                                            {% for fund in annual_winners|slice:":3" %}
                                            <tr class="no-border">
                                                <td>
                                                    <div>
                                                        <h5 class="font-size-13"><a href=""
                                                                class="text-dark">{{fund}}</a>
                                                        </h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-nowrap">
                                                        <span
                                                            class="badge bg-soft-success text-success">{{fund.one_year}}%</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col-->

                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h4 class="card-title">🥹 Biggest Losers</h4>
                                    <span class="card-subtitle text-muted">this
                                        month</span>
                                    <table class="table align-middle table-nowrap">
                                        <tbody>
                                            {% for fund in monthly_winners.reverse|slice:":3" %}
                                            <tr class="no-border">
                                                <td>
                                                    <div>
                                                        <h5 class="font-size-13"><a href=""
                                                                class="text-dark">{{fund}}</a>
                                                        </h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-nowrap">
                                                        <span
                                                            class="badge bg-soft-danger text-danger">{{fund.one_month}}%</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col-->
            </div><!-- end row-->

            <div class="row">
                <div class="col-xl-12">
                    <!-- card -->
                    <div>
                        <!-- card body -->
                        <div class="card-body px-0 pt-2">
                            <div class="table-responsive px-3" data-simplebar>
                                <table id="table-sparkline" class="table align-middle table-nowrap">
                                    <tbody id="tbody-sparkline">
                                        <tr>
                                            <th>
                                                <p class="mb-1"><a href="" class="text-dark">#</a></p>
                                            </th>
                                            <th>
                                                <p class="mb-1"><a href="" class="text-dark">Fund
                                                        Name</a></p>
                                            </th>
                                            <th>
                                                <p class="mb-1 right-align"><a href="" class="text-dark">Price</a></p>
                                            </th>
                                            <th>
                                                <p class="mb-1 right-align"><a href="" class="text-dark">1m</a></p>
                                                </td>
                                            <th>
                                                <p class="mb-1 right-align"><a href="" class="text-dark">6m</a></p>
                                                </td>
                                            <th>
                                                <p class="mb-1 right-align"><a href="" class="text-dark">1y</a></p>
                                                </td>
                                            <th>
                                                <p class="mb-1 right-align"><a href="" class="text-dark">Market Cap</a>
                                                </p>
                                            </th>
                                            <th>
                                                <div class="text-end">
                                                    <p class="mb-1"><a href="" class="text-dark">Last Year</a></p>
                                                </div>
                                            </th>
                                        </tr>

                                        {% for fund in fund_list|slice:":100" %}
                                        <tr>
                                            <td style="width: 1%;">
                                                {{ forloop.counter }} &nbsp&nbsp&nbsp

                                            </td>
                                            <th style="width: 40%; overflow: hidden">
                                                <div><img src="{{fund.company_link.logo.url}}" width="70"
                                                        class="img-fluid fund-thumbnail" alt="">
                                                    <h5 class="font-size-15 inline-block" style="max-width: 400px;"><a
                                                            class="text-dark fund-title"
                                                            href="{% url 'single_fund' fund.name|clean_slug %}">{{fund}}
                                                        </a></h5>
                                                </div>
                                            </th>
                                            <td>
                                                <span class="right-align">R{{fund.price}}</span>
                                            </td>
                                            <td>
                                                {% if fund.one_month >= 0 %}
                                                <span
                                                    class="badge-big text-success right-align">{{fund.one_month}}%</span>
                                                {% endif %}
                                                {% if fund.one_month < 0 %} <span
                                                    class="badge-big text-danger right-align">
                                                    {{fund.one_month}}%</span>
                                                    {% endif %}
                                            </td>
                                            <td>
                                                {% if fund.six_month >= 0 %}
                                                <span
                                                    class="badge-big text-success right-align">{{fund.six_month}}%</span>
                                                {% endif %}
                                                {% if fund.six_month < 0 %} <span
                                                    class="badge-big text-danger right-align">
                                                    {{fund.six_month}}%</span>
                                                    {% endif %}
                                            </td>
                                            <td>
                                                {% if fund.one_year >= 0 %}
                                                <span
                                                    class="badge-big text-success right-align">{{fund.one_year}}%</span>
                                                {% endif %}
                                                {% if fund.one_year < 0 %} <span
                                                    class="badge-big text-danger right-align">
                                                    {{fund.one_year}}%</span>
                                                    {% endif %}
                                            </td>
                                            <td>
                                                <span class=" right-align">R{{fund.market_cap | intword}}</span>
                                            </td>

                                            <td data-sparkline="71, 78, 39, 66, 71, 78, 39, 66, 71, 78, 39, 66, 66, 71, 78,66, 71, 78, "
                                                style="width: 20%;">

                                            </td>

                                        </tr>


                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

            </div><!-- end row -->
        </div>
        <!-- container-fluid -->

    </div>
    <!-- End Page-content -->



    {% block footer %}
    {% include 'partials/footer.html'%}
    {% endblock footer %}
</div>
<!-- end main content-->

{% endblock content %}