{% load static %}
{% block content %}
{% load humanize %}
{% load fund_tags %}


<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="top-info-section">
                        <p class="mb-1 text-dark stats">SA Unit Trusts <span
                                class="gradient-text-blue">{{fund_list.count}}</span>
                            &nbsp&nbsp Data Updated <span class="gradient-text-blue">31 August
                                2022</span>
                        </p>
                    </div>

                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h2 class="mb-sm-0 font-size-26">Today's Unit Trust Performance</h2>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">{{pageview}}</a></li>
                                <li class="breadcrumb-item active">{{title}}</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100 card-top-info">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h4 class="card-title">🚀 Top Gainers</h4>
                                    <span class="card-subtitle text-muted">this
                                        month</span>
                                    <table class="table align-middle">
                                        <tbody>
                                            {% for fund in monthly_winners|slice:":3" %}
                                            <tr class="no-border">
                                                <td>
                                                    <div>
                                                        <h5 class="font-size-13 normal-weight"><a
                                                                href="{% url 'single_fund' fund.name|clean_slug %}"
                                                                class=" text-dark">{{fund}}</a>
                                                        </h5>
                                                    </div>
                                                </td>
                                                <td class="percentage">
                                                    <div class="text-nowrap">
                                                        <span
                                                            class="badge bg-soft-success text-success">{{fund.one_month}}%</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100 card-top-info">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h4 class="card-title">🔥 The Winners</h4>
                                    <span class="card-subtitle text-muted">this
                                        year</span>
                                    <table class="table align-middle">
                                        <tbody>
                                            {% for fund in annual_winners|slice:":3" %}
                                            <tr class="no-border">
                                                <td>
                                                    <div>
                                                        <h5 class="font-size-13 normal-weight"><a
                                                                href="{% url 'single_fund' fund.name|clean_slug %}"
                                                                class=" text-dark">{{fund}}</a>
                                                        </h5>
                                                    </div>
                                                </td>
                                                <td class="percentage">
                                                    <div class="text-nowrap">
                                                        <span
                                                            class="badge bg-soft-success text-success">{{fund.one_year}}%</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col-->

                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100 card-top-info">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h4 class="card-title">🥹 Biggest Losers</h4>
                                    <span class="card-subtitle text-muted">this
                                        month</span>
                                    <table class="table align-middle">
                                        <tbody>
                                            {% for fund in monthly_winners.reverse|slice:":3" %}
                                            <tr class="no-border">
                                                <td class="fund-name">
                                                    <div>
                                                        <h5 class="font-size-13 normal-weight"><a
                                                                href="{% url 'single_fund' fund.name|clean_slug %}"
                                                                class=" text-dark">{{fund}}</a>
                                                        </h5>
                                                    </div>
                                                </td>
                                                <td class="percentage">
                                                    <div class="text-nowrap">
                                                        <span
                                                            class="badge bg-soft-danger text-danger">{{fund.one_month}}%</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col-->
            </div><!-- end row-->

            <div class="row full-fundlist">
                <div class="col-xl-12">
                    <!-- card -->
                    <div>
                        <!-- card body -->
                        <div class="card-body px-0 pt-2">
                            <div class="table-responsive px-3" data-simplebar>
                                <table id="table-sparkline" class="table align-middle table-nowrap">
                                    <tbody id="tbody-sparkline">
                                        <tr>
                                            <th class="rank">
                                                <a href="" class="text-dark">#</a>
                                            </th>
                                            <th>
                                                <p class="mb-1"><a href="" class="text-dark">Fund
                                                        Name</a></p>
                                            </th>
                                            <th>
                                                <p class="mb-1 right-align"><a href="" class="text-dark">Price</a></p>
                                            </th>
                                            <th>
                                                <p class="mb-1 right-align"><a href="" class="text-dark">1m</a></p>
                                                </td>
                                            <th>
                                                <p class="mb-1 right-align"><a href="" class="text-dark">6m</a></p>
                                                </td>
                                            <th>
                                                <p class="mb-1 right-align"><a href="" class="text-dark">1y</a></p>
                                                </td>
                                            <th>
                                                <p class="mb-1 right-align"><a href="" class="text-dark">Market Cap</a>
                                                </p>
                                            </th>
                                            <th>
                                                <div class="text-end">
                                                    <p class="mb-1"><a href="" class="text-dark">Last Year</a></p>
                                                </div>
                                            </th>
                                        </tr>

                                        {% for fund in fund_list|slice:":100" %}
                                        <tr>
                                            <td class="rank">
                                                {{ forloop.counter }}

                                            </td>
                                            <th style="width: 40%; overflow: hidden">
                                                <div><img src="{{fund.company_link.logo.url}}" width="70"
                                                        class="img-fluid fund-thumbnail" alt="">
                                                    <h5 class="font-size-15 inline-block" style="max-width: 400px;"><a
                                                            class="text-dark fund-title"
                                                            href="{% url 'single_fund' fund.name|clean_slug %}">{{fund}}
                                                        </a></h5>
                                                </div>
                                            </th>
                                            <td>
                                                <span class="right-align">R{{fund.price}}</span>
                                            </td>
                                            <td>
                                                {% if fund.one_month >= 0 %}
                                                <span
                                                    class="badge-big text-success right-align">{{fund.one_month}}%</span>
                                                {% endif %}
                                                {% if fund.one_month < 0 %} <span
                                                    class="badge-big text-danger right-align">
                                                    {{fund.one_month}}%</span>
                                                    {% endif %}
                                            </td>
                                            <td>
                                                {% if fund.six_month >= 0 %}
                                                <span
                                                    class="badge-big text-success right-align">{{fund.six_month}}%</span>
                                                {% endif %}
                                                {% if fund.six_month < 0 %} <span
                                                    class="badge-big text-danger right-align">
                                                    {{fund.six_month}}%</span>
                                                    {% endif %}
                                            </td>
                                            <td>
                                                {% if fund.one_year >= 0 %}
                                                <span
                                                    class="badge-big text-success right-align">{{fund.one_year}}%</span>
                                                {% endif %}
                                                {% if fund.one_year < 0 %} <span
                                                    class="badge-big text-danger right-align">
                                                    {{fund.one_year}}%</span>
                                                    {% endif %}
                                            </td>
                                            <td>
                                                <span class=" right-align">R{{fund.market_cap | intword}}</span>
                                            </td>

                                            <td data-sparkline="{{fund.chart}}" style="width: 20%;">
                                            </td>


                                        </tr>


                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->



                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Static Backdrop</h5>
                            <p class="card-title-desc">When backdrop is set to static, the modal will not close when
                                clicking outside it. Click the button below to try it.</p>
                        </div><!-- end card header -->

                        <div class="card-body">
                            <div>

                                <!-- Static Backdrop modal Button -->
                                <button type="button" class="btn btn-primary waves-effect waves-light"
                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    Static backdrop modal
                                </button>

                                <!-- Static Backdrop Modal -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" role="dialog"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>I will not close if you click outside me. Don't even try to press
                                                    escape key.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>$(window).load(function () {
                        setTimeout(function () {
                            $('#staticBackdrop').modal('show');
                        }, 2000);
                    });</script>

            </div><!-- end row -->
        </div>
        <!-- container-fluid -->

    </div>
    <!-- End Page-content -->

    <script>
        setTimeout(function () {
            $('#staticBackdrop').modal('show');
        }, 000);
    </script>

    {% block footer %}
    {% include 'partials/footer.html'%}
    {% endblock footer %}
</div>
<!-- end main content-->

{% endblock content %}