{% load static %}

{% block footer %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> © fundlist.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Made by <a href="http://nicfindlay.com" class="text-decoration-underline">Nic Findlay</a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}