/** My Custom CSS Changes **/


.logo-image-frame {
    height: 25px;
    width: 70px;
    margin: 1.5em 0;
}

.no-border td {
    border-bottom-width: 0px;
    padding: 0.4rem 0.4rem;
}

.right-align {
    text-align: right;
}