/** My Custom CSS Changes **/


.logo-image-frame {
    height: 25px;
    width: 70px;
    margin: 1.5em 0;
}

.no-border td {
    border-bottom-width: 0px;
    padding: 0.4rem 0.4rem;
}

.right-align {
    text-align: right;
}


.header-button {
    background: #fff;
    color: #333;
    margin-top: 15px;
}

.header-button-outline:hover {
    color: #111;
}

.inline-block {
    display: inline-block;
}

.fund-thumbnail {
    display: inline-block;
    margin-right: 20px;
    min-height: 55px;
    object-fit: contain;
}

.fund-title {
    font-weight: 500 !important;
}


.fund-info-section {
    padding-bottom: 30px;

}

.header-button-outline {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.header-button-outline:hover {
    background: #fff;
    color: #333;
}


.above-header {
    background: var(--bs-light);
    text-align: center;
    padding: 5px 24px 1px 24px;
}


.above-header p {
    display: inline-block;
}


.above-header .stats {
    margin-right: 2%;
}

.gradient-text {
    font-weight: 700;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ef6767), to(#f5b11e));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-blue {
    font-weight: 500;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3a85e0), to(#019ce9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-info-section {
    margin-bottom: 40px;

}

.normal-weight {
    font-weight: 500;
}

.card-top-info .percentage {
    vertical-align: top;
}

.card-top-info .card-body {
    padding: 1rem 1rem
}

.full-fundlist .rank {
    padding-left: 0px;
    padding-right: 0px;
}





/* MOBILE CUSTOM CSS */

@media only screen and (max-width: 900px) {

    .login-button,
    .register-button,
    .user-menu-block,
    #page-header-user-dropdown {
        display: none;
    }

    .pace-activity {
        display: none;
    }
}