{% extends "account/base.html" %}
{% load static %}
{% block title %}Log Out{% endblock title %}
{% block content %}
                    <div class="auth-full-page-content d-flex p-sm-5 p-4">
                        <div class="w-100">
                            <div class="d-flex flex-column h-100">
                                <div class="mb-4 mb-md-5 text-center">
                                    <a href="{% url 'dashboard' %}" class="d-block auth-logo">
                                        <img src="{% static 'images/logo-sm.svg' %}" alt="" height="28"> <span class="logo-txt">Dason</span>
                                    </a>
                                </div>
                                <div class="auth-content my-auto">
                                    <div class="text-center">
                                        <div class="avatar-xl mx-auto">
                                            <div class="avatar-title bg-light text-primary h1 rounded-circle">
                                                <i class="bx bxs-user"></i>
                                            </div>
                                        </div>

                                        <div class="mt-4 pt-2">
                                            <h5>You are Logged Out</h5>
                                            <p class="text-muted font-size-15">Thank you for using <span class="fw-semibold text-dark">Dason</span></p>
                                            <div class="mt-4">
                                                <a href="{% url 'pages:pages.authentication.login' %}" class="btn btn-primary w-100 waves-effect waves-light">Sign In</a>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="mt-5 text-center">
                                        <p class="text-muted mb-0">Don't have an account ? <a href="{% url 'pages:pages.authentication.register' %}"
                                                class="text-primary fw-semibold"> Signup</a> </p>
                                    </div>
                                </div>
                                <div class="mt-4 mt-md-5 text-center">
                                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Dason   . Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end auth full page content -->
{% endblock content %}


{% block extra_js %}
<!-- password addon init -->
<script src="{% static 'js/pages/pass-addon.init.js'%}"></script>
{% endblock extra_js %}
    