{% extends "partials/base.html" %}
{% load static %}
{% block title %}Fund{% endblock title %}


{% block extra_css %}
<!-- plugin css -->
<link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css'%}" rel="stylesheet"
    type="text/css" />
{% endblock extra_css %}


{% block content %}
{% include "partials/single-fund-content.html" with title='Fund' pageview='Home' %}
{{ chart_data|json_script:"chart_data" }}
{% endblock content %}

{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>


    const chart_data = JSON.parse(document.getElementById('chart_data').textContent);
    var options = {
        series: [{
            data: chart_data
        }],
        chart: {
            id: 'chart2',
            type: 'area',
            height: 350,
            zoom: {
                autoScaleYaxis: true
            }
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            size: 0,
            style: 'hollow',
        },
        xaxis: {
            type: 'datetime',
        },
        tooltip: {
            x: {
                format: 'dd MMM yyyy'
            }
        },
        stroke: {
            width: 2,
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                opacityFrom: 0.5,
                opacityTo: 0.9,
                stops: [0, 100]
            }
        },
    };

    var chart = new ApexCharts(document.querySelector("#timeline-chart"), options);
    chart.render();


    var resetCssClasses = function (activeEl) {
        var els = document.querySelectorAll('button')
        Array.prototype.forEach.call(els, function (el) {
            el.classList.remove('active')
        })

        activeEl.target.classList.add('active')
    }

    document
        .querySelector('#one_month')
        .addEventListener('click', function (e) {
            resetCssClasses(e)

            chart.zoomX(
                new Date('28 Jan 2013').getTime(),
                new Date('27 Feb 2013').getTime()
            )
        })

    document
        .querySelector('#six_months')
        .addEventListener('click', function (e) {
            resetCssClasses(e)

            chart.zoomX(
                new Date('27 Sep 2012').getTime(),
                new Date('27 Feb 2013').getTime()
            )
        })

    document
        .querySelector('#one_year')
        .addEventListener('click', function (e) {
            resetCssClasses(e)
            chart.zoomX(
                new Date('27 Feb 2012').getTime(),
                new Date('27 Feb 2013').getTime()
            )
        })

    document.querySelector('#ytd').addEventListener('click', function (e) {
        resetCssClasses(e)

        chart.zoomX(
            new Date('01 Jan 2013').getTime(),
            new Date('27 Feb 2013').getTime()
        )
    })

    document.querySelector('#all').addEventListener('click', function (e) {
        resetCssClasses(e)

        chart.zoomX(
            new Date('23 Jan 2012').getTime(),
            new Date('27 Feb 2013').getTime()
        )
    })



</script>
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>
<script src="{% static 'js/pages/dashboard.init.js'%}"></script>
{% endblock extra_js %}