{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Chartjs{% endblock title %}

{% block content %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Chartjs</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Charts</a></li>
                                        <li class="breadcrumb-item active">Chartjs</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Line Chart</h4>
                                </div>
                                <div class="card-body">

                                    <canvas id="lineChart" height="300" data-colors='["rgba(28, 132, 238, 0.2)", "#1c84ee", "rgba(235, 239, 242, 0.2)", "#ebeff2"]'></canvas>

                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Bar Chart</h4>
                                </div>
                                <div class="card-body">

                                    <canvas id="bar" height="300" data-colors='["rgba(52, 195, 143, 0.8)", "rgba(52, 195, 143, 0.9)"]'></canvas>

                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->


                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Pie Chart</h4>
                                </div>
                                <div class="card-body">

                                    <canvas id="pie" height="260" data-colors='["#34c38f", "#ebeff2"]'></canvas>

                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Donut Chart</h4>
                                </div>
                                <div class="card-body">

                                    <canvas id="doughnut" height="260" data-colors='["#1c84ee", "#ebeff2"]'></canvas>

                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Polar Chart</h4>
                                </div>
                                <div class="card-body">

                                    <canvas id="polarArea" height="300" data-colors='["#ef6767", "#34c38f", "#ffcc5a", "#1c84ee"]'> </canvas>

                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Radar Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="radar" height="300" data-colors='["rgba(52, 195, 143, 0.2)", "#34c38f", "rgba(28, 132, 238, 0.2)", "#1c84ee"]'></canvas>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                    
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            
            {% block footer %}
                {% include 'partials/footer.html' %}
            {% endblock footer %}
        </div>
        <!-- end main content-->
{% endblock content %}

{% block extra_js %}
    <!-- Chart JS -->
    <script src="{% static 'libs/chart.js/dist/Chart.bundle.min.js'%}"></script>
    <!-- chartjs init -->
    <script src="{% static 'js/pages/chartjs.init.js'%}"></script> 
{% endblock extra_js %}
